body {
  font-family: "Montserrat";
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  outline: none;
}

textarea {
  outline: none;
}

header {
  padding-top: 30px;
}

header .container {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  header .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  header .container {
    max-width: 1200px;
  }
}

.header__list {
  display: flex;
  gap: 24px;
  margin-left: 100px;
}
@media screen and (max-width: 1199px) {
  .header__list {
    display: none;
  }
}

.header__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: #13171D;
}

.header__link:hover {
  color: #E2001A;
}

.header__contacts {
  display: flex;
  gap: 10px;
  margin-left: 65px;
}
@media screen and (max-width: 767px) {
  .header__contacts {
    display: none;
  }
}

.contacts__link {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #13171D;
}

.menu {
  margin-left: auto;
}
@media screen and (max-width: 320px) {
  .menu {
    display: block;
  }
}

.hero {
  padding-top: 290px;
}

h1 {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 110px;
  line-height: 0.9;
  letter-spacing: -0.01em;
  color: #13171D;
  text-align: center;
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 32px;
  }
}

.hero__description {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.41;
  letter-spacing: -0.01em;
  color: #444444;
  text-align: center;
  margin-top: 20px;
}

.hero__button {
  display: block;
  width: 284px;
  height: 64px;
  background: #E2001A;
  border-radius: 15px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .hero__button {
    width: 100%;
  }
}

.can {
  padding-top: 138px;
}

.can__list {
  display: flex;
  gap: 99px;
}
@media screen and (max-width: 1199px) {
  .can__list {
    display: block;
  }
}

.can__item {
  width: 364px;
}
@media screen and (max-width: 1199px) {
  .can__item {
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
  }
}

.can__name {
  font-family: "Gilroy-Bold";
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #13171D;
  margin-top: 24px;
}

.can__description {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #444444;
  margin-top: 16px;
}

@media screen and (max-width: 1199px) {
  .can__img {
    margin-left: auto;
    margin-right: auto;
  }
}

.company {
  padding-top: 140px;
}

.company__name {
  font-family: "Gilroy-Bold";
  font-weight: 700;
  font-size: 80px;
  line-height: 1.05;
  color: #13171D;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .company__name {
    font-size: 26px;
  }
}

.company__description {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  color: #444444;
  text-align: center;
  margin-top: 24px;
}

.clients {
  padding-top: 121px;
  padding-bottom: 120px;
}

.clients__name {
  font-weight: 700;
  font-size: 56px;
  line-height: 1;
  color: #13171D;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .clients__name {
    font-size: 26px;
  }
}

.clients__list {
  display: flex;
  gap: 30px;
  margin-top: 48px;
}
@media screen and (max-width: 767px) {
  .clients__list {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .clients__item {
    margin-bottom: 10px;
  }
}

.orders {
  background: linear-gradient(180deg, #EBF3F8 0%, rgba(235, 243, 248, 0) 100%);
  padding-top: 81px;
}
.orders__name {
  font-weight: 700;
  font-size: 56px;
  line-height: 1;
  color: #13171D;
  text-align: center;
  margin-bottom: 48px;
}
@media screen and (max-width: 767px) {
  .orders__name {
    font-size: 26px;
  }
}

.orders__list {
  display: flex;
  gap: 31px;
  padding-bottom: 64px;
}
@media screen and (max-width: 767px) {
  .orders__list {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .orders__item {
    margin-bottom: 10px;
  }
}

.contacts {
  padding-bottom: 167px;
}

.contacts__name {
  font-family: "Gilroy-Bold";
  font-weight: 700;
  font-size: 80px;
  line-height: 1.05;
  color: #13171D;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .contacts__name {
    font-size: 26px;
  }
}

.contacts__list {
  display: flex;
  gap: 71px;
}

footer {
  background-image: url(../images/Map.jpg);
  height: 350px;
}/*# sourceMappingURL=main.css.map */