.contacts{
    padding-bottom: 167px;
}

.contacts__name{
    font-family: 'Gilroy-Bold';
    font-weight: 700;
font-size: 80px;
line-height: 1.05;
color: #13171D;
text-align: center;
@media screen and (max-width:767px) {
    font-size: 26px;
}
}

.contacts__list{
    display: flex;
    gap: 71px;
}

footer{
    background-image: url(../images/Map.jpg);
height: 350px;
}