.orders{
    background: linear-gradient(180deg, #EBF3F8 0%, rgba(235, 243, 248, 0) 100%);
    padding-top: 81px;
    @media screen and (max-width:767px) {
        
    }
}


.orders__name{
    font-weight: 700;
font-size: 56px;
line-height: 1;
color: #13171D;
text-align: center;
margin-bottom: 48px;
@media screen and (max-width:767px) {
    font-size: 26px;
}
}

.orders__list{
    display: flex;
    gap: 31px;
    padding-bottom: 64px;
    @media screen and (max-width:767px) {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.orders__item{
    @media screen and (max-width:767px) {
        margin-bottom: 10px;
    }
}